@inherits LayoutComponentBase
<div class="page">
    <div style="background-color: #336666">
        <NavMenu />
    </div>

    <main class="vh-100">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
